* {
  box-sizing: border-box;
}


/* Start here */

body {
}




.time {
  font-size: 80px;
  text-align: center;
  text-transform: uppercase;
  font-family: courier;
  margin-bottom: 80px;
  margin-top: 0px;
}

img {
    display: block;
    margin: auto;
    width: 40%;
}

.image_swap {
  margin: auto;
  width: 600px;
}

.image_swap img {
  max-width: 100%;
}

<<<<<<< HEAD
body.evenS .image_swap .death {
  display: block;
}

body.oddS .image_swap .death {
  display: none;
}

body.evenS .image_swap .birth {
  display: block;
}

body.oddS .image_swap .birth {
  display: none;
=======

.circles img {
  display: none;
  width: 100%;
  height: auto;
}


body.s1 .image1, body.s4 .image1, body.s7 .image1 {
  display: block;
}

body.s2 .image2, body.s5 .image2, body.s8 .image2 {
  display: block;
}

body.s3 .image3, body.s6 .image3, body.s9 .image3{
  display: block;
>>>>>>> 5d2cab334425ed3b5d56d8f5dc25c9588db02b9f
}
