* {
  box-sizing: border-box;
}


/* Start here */

body {

}


.time {
  font-size: 80px;
  text-align: center;
  text-transform: uppercase;
  font-family: courier;
  margin-bottom: 80px;
  margin-top: 100px;
}


.image_swap {
  margin: auto;
  width: 1000px;
}

.image_swap img {
  max-width: 100%;
}
